* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  background-color: #eeeeee;
  font-family: "Aresenal", sans-serif;
}

.nav_link_list {
  display: flex;
  background-color: #eeeeee;
}

.nav_link_a {
  display: flex;
  color: #000000;
  margin: 0px;
  padding: 1.75rem 1.5em;
  font-family: "Secular One", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.nav_link {
  list-style-type: none;
  padding-right: 1em;
}

.header_name {
  display: flex;
  padding: 0.6em 1.5em;
  font-family: "Secular One", sans-serif;
  font-size: 2em;
}

/* BODY */

body {
  background-color: #bbbbbb;
}

/* INDEX */

.index_container {
  display: flex;
  justify-content: center;
}

.greetings_container {
  display: flex;
  flex-direction: column;
  padding: 14.5em 7em;
}

.greetings_container h1 {
  font-family: "Secular One", sans-serif;
  font-size: 3em;
}

.greetings_container p {
  padding-top: 1em;
  width: 60%;
  font-family: "Noto Serif Telugu", serif;
  font-size: 1.7em;
  line-height: 1.95em;
  z-index: 100;
}

.selfie {
  position: absolute;
  top: 25%;
  left: 60%;
}
