<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu&family=Secular+One&display=swap" rel="stylesheet"> 
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script defer src="src/nav.js"></script>
    <title>Homepage</title>
</head>
<header>
    <div id="navbar"></div>
</header>
<body>
    <div class="index_container">
        <div class="greetings_container">
            <h1>A quick insight at me...</h1>
            <p><i>> I aim to apply my technical and business skills for innovative tech projects and intense work environments. <br>> My analytical, reliable, and adaptive workflow and mindset supports this objective of mine. <br>> Passionate to learn, I am also a determined problem-solver.</i><p>
        </div>
        <img src="img/avatar.png" class="selfie">
    </div>
</body>
</html>